@*Copyright (c) Microsoft Corporation*@
@{
    var service = new { service = ViewBag.Service };
    string controller = ViewBag.Controller;
}

<div class="float-right">
    <nav>
        <ul id="menu">
            <li data-role="list-divider">Services</li>
            @foreach (var s in ReverseProxy.Helpers.Services().Keys)
            {
                <li>@Html.ActionLink(s, "Index", controller, new { service = s }, null)</li>
            }
        </ul>
    </nav>
    <nav>
        <ul id="menu">
            <li data-role="list-divider">Geographies</li>
            @foreach (var location in ReverseProxy.Helpers.Nodes((string) ViewBag.Service))
            {
                <li>@Html.ActionLink(location.Key, "Index", controller, "https", location.Value, "", null, null)</li>
            }
        </ul>
    </nav>
    <nav>
        <ul id="menu">
            <li data-role="list-divider">Navigation</li>
            <li>@Html.ActionLink("Status", "Index", "Status")</li>
            <li>@Html.ActionLink("Log", "Index", "Log")</li>
            <li>@Html.ActionLink("Completions", "Index", "Completion")</li>
        </ul>
    </nav>
</div>
